.container {
  background: #007db8;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  /* margin: 100%; */
  padding: 0.3em;
  display: grid;
  grid-template-columns: 70px auto;
}

.container a {
  color: white;
}

.logo {
  width: auto;
  background: url("dell_logo.jpg") no-repeat;
}

#product1 {
  position: relative;
  width: 80%;
  left: 10%;
  display: flex;
}

.product-image {
  width: auto;
  display: flex;
}

.product-desp {
}

.product-price {
}

.qty {
  height: 20%;
  display: flex;
  justify-content: flex-end;
}
.select-button {
}

.cart {
  display: flex;
  justify-content: flex-end;
}

nav {
  justify-self: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
}

nav ul li {
  float: left;
}

nav ul li a {
  padding: 1.5em;
  font-size: 0.8em;
}

nav ul li a:hover {
  background: rgb(13, 145, 206);
}

body,
html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: "Montserrat";
  font-size: 18px;
}

a {
  text-decoration: none;
}
